@charset "utf-8";
/* CSS Document */

/* sets a padding and margin to give a space in browser */
body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* media query with screen view */

header {
    background: blue;
    padding: 20px;
}

@media screen and (min-width: 450px) {
    header {
        background-color: green;
    }
}


/* logo text */
header p {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
}


        }